doctype html
html.no-js(dir="ltr")
	head
		title Default title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel="stylesheet", href="/css/header.css")
		link(rel="stylesheet", href="/css/fonts.css")
		link(rel="stylesheet", href="/css/main.css")
		script(src="js/modernizr.js")
		<!-- remove jquery after enqueue scripts -->
		script(src="js/jquery-1.11.2.min.js")
		script(src="js/common.js")
	body
		.wrapper
			block content
			include ./../_parts/footer.jade