@media only screen and (max-width:768px){.animated{transition-property:none!important;-webkit-transform:none!important;-ms-transform:none!important;transform:none!important;-webkit-animation:none!important;animation:none!important}}