*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

audio, canvas, progress, video
	display: inline-block

audio:not([controls])
	display: none
	height: 0

[hidden], template
	display: none

a
	background-color: transparent
	&:active, &:hover
	outline: 0

abbr[title]
	border-bottom: 1px dotted
	cursor: help

b, strong
	font-weight: bold

dfn,
cite,
em,
i
	font-style: italic

mark,
ins
	background: #ff0
	color: #000

small
	font-size: 80%

big
	font-size: 125%

sub
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline

sup
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline
	top: -0.5em

sub
	bottom: -0.25em

img
	border: 0

svg:not(:root)
	overflow: hidden

figure
	margin: 1em 40px

hr
	box-sizing: content-box
	height: 0

pre
	overflow: auto
	border: 1px solid #d1d1d1
  font-size: 16px
  line-height: 1.3125
  margin: 0 0 28px
  max-width: 100%
  padding: 14px
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

code, kbd, pre, samp, var, tt
	font-family: monospace, monospace
	font-size: 1em

code
  background-color: #d1d1d1
  padding: 2px 4px

button
	overflow: visible
	text-transform: none

select
	text-transform: none

button, html input[type="button"]
	-webkit-appearance: button
	cursor: pointer

input
	&[type="reset"], &[type="submit"]
	-webkit-appearance: button
	cursor: pointer


button[disabled], html input[disabled]
	cursor: default

button::-moz-focus-inner
	border: 0
	padding: 0

input
	&::-moz-focus-inner
	border: 0
	padding: 0
	line-height: normal
	&[type="checkbox"], &[type="radio"]
	box-sizing: border-box
	padding: 0
	&[type="number"]
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
		height: auto
	&[type="search"]
	-webkit-appearance: textfield
	box-sizing: content-box
	&::-webkit-search-cancel-button, &::-webkit-search-decoration
		-webkit-appearance: none

fieldset
	border: 1px solid #c0c0c0
	margin: 0 2px
	padding: 0.35em 0.625em 0.75em

legend
	border: 0
	padding: 0

textarea
	overflow: auto

optgroup
	font-weight: bold

table
	border-collapse: collapse
	border-spacing: 0

td, th
	padding: 0


.content-box h1
	font-size: 3em
	margin: 0.67em 0

.content-box h2
	font-size: 2em

.content-box h3,
.content-box h4,
.content-box h5,
.content-box h6
	font-size: 1.5em

.content-box h1,
.content-box h2,
.content-box h3,
.content-box h4,
.content-box h5,
.content-box h6
	line-height: 1.2em
	word-break: break-word
	clear: both

.content-box p
	margin: 0 0 28px;

.content-box blockquote
	border-left: 4px solid #1a1a1a
	color: #686868
	font-size: 19px
	font-style: italic
	line-height: 1.4736842105
	margin: .5em 0
	padding: 0 0 0 24px

blockquote
	&:not(.alignleft):not(.alignright)
		margin-left: -28px
	blockquote:not(.alignleft):not(.alignright)
		margin-left: 0
	&:before
		content: ""
		display: table
	&:after
		content: ""
		display: table
		clear: both
	> :last-child
		margin-bottom: 0
	cite, small
		color: #1a1a1a
		font-size: 16px
		line-height: 1.75
	em, i, cite
		font-style: normal
	strong, b
		font-weight: 400
	&.alignleft, &.alignright
		border: 0 solid #1a1a1a
		border-top-width: 4px
		padding: 18px 0 0
		width: -webkit-calc(50% - 14px)
		width: calc(50% - 14px)

address
	font-style: italic
	margin: 0 0 28px

.iframeHolder
	position: relative
	width: 100%
	padding-top: 56.25%
	margin: 0.5em 0
	max-width: 100%

.iframeHolder:first-child
	margin-top: 0

.iframeHolder:last-child
	margin-bottom: 0

.iframeHolder > iframe,
.iframeHolder > video
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: #000

.table-wrapper
	overflow-x: auto

.text-box
	position: relative