@import "bourbon"
@import "./import/vars.sass"
@import "./import/reset.sass"

html
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

.hidden
	display: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif

.wrapper
	position: relative
	margin: 0 auto
	max-width: $site_size

html, body, .wrapper
	height: 100%
	min-height: 100%

.header, .content-area, .footer
	position: relative

.footer
	height: $fH
	margin-top: -$fH

.content-area
	position: relative
	padding-bottom: $fH
	min-height: 100%;