@import "bourbon"
@import "./import/vars.sass"

//Default features
.fl
	float: left

.fr
	float: right

.cntr
	text-align: center

.clear
	clear: both

.clearfix
	&:before
		content: ""
		display: table
	&:after
		content: ""
		clear: both

//Custom Styles Here
.header

.content-area

.footer

//ALWAYS END
@import "./import/typography.sass"
@import "./import/media.sass"